/* Default - Mobile First *
  
  /* Small Screens (360px - 480px) */
@media screen and (min-width: 340px) and (max-width: 480px) {
    .container {
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    .main-nav {
        display: none;
    }

    .contact-info span,
    .contact-info a {
        display: block;
    }

    .contact-info p {
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .contact-info {
        border-right: 1px solid #212121;
    }
}

/* Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .menu-toggle {
        display: flex;
    }

    .main-nav {
        display: none;
    }

    .contact-info span,
    .contact-info a {
        display: block;
    }

    .contact-info p {
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .contact-info{
        border-right: 1px solid #212121;
    }
}

/* Small Laptops (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 720px;
    }

    .menu-toggle {
        display: flex;
    }

    .main-nav {
        display: none;
    }

    .contact-info span,
    .contact-info a {
        display: none;
    }

    .contact-info p {
        display: none;
    }
}

/* ✅ Desktops (1025px - 1440px) */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .container {
        width: 960px;
    }

    .menu-toggle {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .main-nav ul {
        display: flex;
        gap: 20px;
    }

}

/* Large Screens (1441px - 1920px) */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .container {
        width: 1140px;
    }

    .menu-toggle {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .main-nav ul {
        display: flex;
        gap: 20px;
    }
}

/* Extra Large Screens (1921px and above) */
@media screen and (min-width: 1921px) {
    .container {
        width: 1320px;
    }

    .menu-toggle {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .main-nav ul {
        display: flex;
        gap: 20px;
    }
}